*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

:root{
    --background_dark_color: #000000;
    --background_light_color: #282A5C;
    --text_color: #ffffff;
    --text_shadow: #727272;
    --ball_background: #39316D;
}

header{
    background: linear-gradient(var(--background_light_color), var(--background_dark_color));
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: white;
    -webkit-text-stroke: 2px var(--text_shadow);
    font-size: 50px;
}

body{
    background: linear-gradient(var(--background_dark_color), var(--background_light_color));
    height: 100vh;
    overflow: hidden;
}

.ball{
    width: 125px;
    height: 125px;
    background-color: var(--ball_background);
    border-radius: 50%;
    filter: drop-shadow(0px 0px 30px #000000);
    border: none;
}

.ball:hover{
    cursor: pointer;
}

.previous{
    position: absolute;
    top: 75vh;
    left: 10vw;
}

.next{
    position: absolute;
    top: 75vh;
    right: 10vw;
}

.rotate{
    transform: rotate(180deg);
}

.carousel-image{
    width: 100%;
    height: 85vh;
    border-radius: 100px;
    background-color: black;
    opacity: 30%;
    position: relative;
}

.carousel-image-background{
    width: 100%;
    height: 85vh;
    border-radius: 100px;
    background-color: black;
}

.text-carousel{
    color: white;
    font-size: 30px;
    position: relative;
    top: -550px;
    text-align: center;
}

.heading-carousel{
    padding-bottom: 150px;
    margin-top: -150px;
}

.subheading-carousel{
    padding-bottom: 100px;
}

.paragraph-carousel{
font-size: 1.5rem;
}

.hidden{
    display: none;
}

/*ANIMATIONS*/

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */

.slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}


/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */

.slide-in-right {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}


/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */

.slide-in-bottom {
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}


/**
 * ----------------------------------------
 * animation shake
 * ----------------------------------------
 */

.nonrotate:hover {
    -webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

@-webkit-keyframes shake-bottom {
    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);

    }
    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }
    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}
@keyframes shake-bottom {
    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);

    }
    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }
    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}

.rotate:hover {
    -webkit-animation: shake-bottom-rotate 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    animation: shake-bottom-rotate 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

@-webkit-keyframes shake-bottom-rotate {
    0%,
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);

    }
    10% {
        -webkit-transform: rotate(182deg);
        transform: rotate(182deg);
    }
    20%,
    40%,
    60% {
        -webkit-transform: rotate(176deg);
        transform: rotate(176deg);
    }
    30%,
    50%,
    70% {
        -webkit-transform: rotate(184deg);
        transform: rotate(184deg);
    }
    80% {
        -webkit-transform: rotate(178deg);
        transform: rotate(178deg);
    }
    90% {
        -webkit-transform: rotate(182deg);
        transform: rotate(182deg);
    }
}
@keyframes shake-bottom-rotate {
    0%,
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);

    }
    10% {
        -webkit-transform: rotate(182deg);
        transform: rotate(182deg);
    }
    20%,
    40%,
    60% {
        -webkit-transform: rotate(176deg);
        transform: rotate(176deg);
    }
    30%,
    50%,
    70% {
        -webkit-transform: rotate(184deg);
        transform: rotate(184deg);
    }
    80% {
        -webkit-transform: rotate(178deg);
        transform: rotate(178deg);
    }
    90% {
        -webkit-transform: rotate(182deg);
        transform: rotate(182deg);
    }
}


/*Made by Dávid Hanko, davihan11 on Discord*/